{% extends "layout.html.twig" %}

{% block content %}

    <form method="post">
        <div class="center card text-white bg-danger mb-3" style="width: 30%">
            <h3 class="card-header">Soll das Rezept wirklich gelöscht werden?</h3>
            <p><input type="submit" value="löschen" class="btn btn-light" style="display: block; margin: 0 auto;"></p>
        </div>
    </form>

{% endblock %}