{% extends "layout.html.twig" %}

{% block content %}

    <div class="doku">
    <h4>Erstellung der Symfony Applikation</h4>
    <p>
        Symfony bietet ein WebApp Skelett. Dieses lässt sich mit dem Befehl "" erstellen.
        Es wird eine Verzeichnisstruktur erstellt, die wie folgt aussieht:

    </p>

    <h4>Das Docker Verzeichnis</h4>
    <p>

    docker-compose.yml: Als nächstes habe ich 4 services definiert: nginx, php, mysql und compose
    </p>


    <ul>
        <li>nginx:</li>
        <li>php:</li>
        <li>mysql:</li>
        <li>compose:</li>
    </ul>

    <p>
        <h4>Die Datenbank anbinden</h4>
        Um die Datenbank richtig anzubinden, müssen zunächst die environment variablen im docker-compose file richtig gesetzt werden

        Um sich zu mysql zu verbinden: docker-compose exec mysql mysql -hmysql -P3306 -p
        erstes mysql: name des Containers, das zweite: das programm mysql, -hmysql=hostname




        mapping.orm.xml: entity name= namespace + Klassenname (in composer.json)
        "autoload": {
        "psr-4": {
        "App\\": "src/"
        },



        docker-compose exec php php bin/console doctrine:schema:update --force
        ->die datenbank updaten (tabellen erstellen)

        mysql -u root -p -h 127.0.0.1 --port 3306
        ->verbindung zur datenbank von rechner
    </p>

    <p>
        <h3>Die Seite schön machen</h3>
    </p>
    <h4></h4>
    </div>
{% endblock %}