{% extends "layout.html.twig" %}

{% block content %}

    <div class="doku">
    <h4>Erstellung der Symfony Applikation</h4>
    <p>
        Symfony bietet ein WebApp Skelett. Dieses l채sst sich mit dem Befehl "" erstellen.
        Es wird eine Verzeichnisstruktur erstellt, die wie folgt aussieht:

    </p>

    <h4>Das Docker Verzeichnis</h4>
    <p>

    docker-compose.yml: Als n채chstes habe ich 4 services definiert: nginx, php, mysql und compose
    </p>


    <ul>
        <li>nginx:</li>
        <li>php:</li>
        <li>mysql:</li>
        <li>compose:</li>
    </ul>

    <p>
        <h4>Die Datenbank anbinden</h4>
        Um die Datenbank richtig anzubinden, m체ssen zun채chst die environment variablen im docker-compose file richtig gesetzt werden

        Um sich zu mysql zu verbinden: docker-compose run mysql mysql -hmysql -P3306 -p
        erstes mysql: name des Containers, das zweite: das programm mysql, -hmysql=hostname

    </p>
    <h4></h4>
    </div>
{% endblock %}