{% extends "layout.html.twig" %}

{% block content %}
    <div class="box box-primary text-center">
        <div class="col-md-6 center">
            <h3 class="box-title">Neues Rezept hinzufügen</h3>
            <p></p>

            <a style="" href="{{ path('new_recipe') }}" class="btn btn-primary btn-lg">
                <i class="fa fa-plus-square"></i> Neues Rezept
            </a>
        </div>
    </div>

{% endblock %}