<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" >

    <style>
        div.center {
            position: fixed;
            width: 40%;
            top: 50%;
            left: 40%;
            margin-top: -10%;
            margin-left: -10%;
        }

        div.doku {
            position: fixed;
            width: 60%;
            top: 50%;
            left: 30%;
            margin-top: -10%;
            margin-left: -10%;
        }
    </style>
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/new">Neues Rezept</a></li>
        <li class="breadcrumb-item"><a href="/all">Alle Rezepte</a></li>
    </ol>
</nav>

{% block content %}{% endblock %}

</body>
</html>