<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        div.center {
            display: block;
            margin: auto;
            max-width: 600px;
            padding: 1em;
        }

        div.doku {
            width: 100%;
            max-width: 1000px;
            margin: auto;
            padding: 1em;
        }

        div.list-recipes {
            width: 800px;
            margin: auto;
            margin-top: 10vh;
            padding: 1em;
        }

        h4 {
            text-decoration: underline;
        }

        @media (min-width: 600px) and (min-height: 600px) {
            div.center {
                position: absolute;
                width: 600px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    </style>
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/new">Neues Rezept</a></li>
        <li class="breadcrumb-item"><a href="/list">Alle Rezepte</a></li>
        <li class="breadcrumb-item"><a href="/doku">Dokumentation</a></li>
    </ol>
</nav>

{% block content %}{% endblock %}

</body>
</html>