{% extends "layout.html.twig" %}

{% block content %}

    <div class="recipe">
        <h3>Alle Rezepte</h3>

        {% for recipe in recipes | sort %}
            <li><a href="show/{{ recipe.id }}">{{ recipe.title }}</a></li>
        {% endfor %}

    </div>
{% endblock %}