version: '2'

services:

  nginx:
    build: nginx
    container_name: symfony-webserver
    ports:
      - '8080:80'
    links:
      - php
    volumes_from:
      - php
    volumes:
      - ./logs/nginx/:/var/log/nginx:cached

  php:
    build: php-fpm
    ports:
      - "9000:9000"
    links:
      - mysql
    volumes:
      - ../application:/var/www/symfony:cached
      - ./logs/symfony:/var/www/symfony/var/logs:cached
    container_name: symfony-php
#    environment:
#        MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
#        MYSQL_DATABASE: ${MYSQL_DATABASE}
#        MYSQL_USER: "Kathi"
#        MYSQL_PASSWORD: ${MYSQL_PASSWORD}

  mysql:
    image: mysql:8.0
    container_name: symfony-mysql
    ports:
        - 3306:3306
    environment:
        MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
        MYSQL_DATABASE: ${MYSQL_DATABASE}
        MYSQL_USER: "root"
        MYSQL_PASSWORD: ${MYSQL_PASSWORD}

#  composer:
#    restart: 'no'
#    image: composer/composer:php7
#    command: install
#    volumes:
#      - .:/app

  composer:
    restart: 'no'
    build: php-fpm
    command: "composer install && php bin/console doctrine:schema:update --force"
    volumes:
     - ../application:/var/www/symfony:cached
     - ./logs/symfony:/var/www/symfony/var/logs:cached